{% load staticfiles %}
<html>
<head>
<title>Mrzn Dipesh </title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="page-header">
{% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}
        <h1><a href="/">Blog by MrznDipesh</a></h1>


    </div>
<br>
<p><em> <marquee><h3>I am Dipesh Mrzn !!! I want to get it to work.. :) </marquee> </em>
<br>

<div>
	
	<strong><p> This is my first blog using python and Django </strong>
</div>
<div>
	<p>Visit My Other Blog:   <a href= "https://www.privatreasure.blogspot.com"> Private Treasures</a>
</div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
