{% load staticfiles %}
<html>
<head>
<title>Mrzn Dipesh </title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-header">
	<p><h2> Hi There! </p>
	<p><h3>It works! </p>
</div>
<div>
	<p><em> <marquee>I am Dipesh Mrzn !!! I want to get it to work.. :) </marquee> </em>
	<strong><p> This is my first blog using python and Django </strong>
</div>
<div>
	<p>Visit My Other Blog:   <a href= "https://www.privatreasure.blogspot.com"> Private Treasures</a>
</div>
<div>
<p> Talking about thing that matter to me
<p><ul><li>Family</li><li>Shortlisted Friends</li><li>Laptop</li><li>Me Myself</li></ul>
</div>
<div><br><br><br>
<p><h1>Posts</p>
</div class="post">
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



</body>
</html>
